.app{
    width:40vw;
    height:30vh;
    padding: 30px 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 10vh auto;
    border: 1px solid grey;
}

.counter-button{
    padding: 4px 19px;
    margin-top: 20px;
}

.counter-button-storage{
    border-top: 3px solid black;
    padding: 4px 19px;
    margin-top: 40px;
}

.fetch{
    padding: 30px 30px;
    border: 3px solid black;
}